body {
    padding: 1%;
    background-color: #222222;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
}

p {
    text-align: center;
    margin: -45px 0 0 0;
    font-size: 20px;
}

h2 {
    text-align: left;
    margin: 50px 0 0 25px;
    font-size: 40px;
}

button {
    text-align: left;
    margin: 5px 0 0 25px;
    font-size: 25px;
    color: black;
    background-color: white;
    border: solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.circleContainer {
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.resultContainerCircle {
    margin: 0 0 0 25px;
    font-size: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#baseInput {
    margin: 0 0 0 25px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 240px;
}

#heightInput {
    margin: 0 0 0 25px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 240px;
}

.resultContainerTriangle {
    margin: 0 0 0 25px;
    font-size: 25px;
}

#radiusInput {
    margin: 0 0 0 25px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 240px;
}

.white {
    color: white;
}

.red {
    color: red;
}

.resultContainerRectangle {
    margin: 0 0 0 25px;
    font-size: 25px;
}

#lengthInput {
    margin: 0 0 0 25px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 240px;
}

#widthInput {
    margin: 0 0 0 25px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 240px;
}